@charset "utf-8";

@import "compass/typography";
@import "compass/css3";
@import "compass/layout";
@import "variables";
@import "mixin";

@import "icons";

.popup-tip {
    background-color: #def1fe;
    cursor: pointer;
    position: absolute;
    min-width:185px;
    text-align: left;
    border: 1px solid #CFCFCF;
    /*opacity: 0.9;*/
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    font-size: 13px;
    color: #515151;
    display: none;
}
.popup-tip .cont {
    height: auto;
    overflow-y: auto;
    background-color: #def1fe;
    padding: 6px;
    margin: 0;
	margin-left: 10px;
}
.popup-tip .cont li{
    line-height: 20px;
    max-width: 210px;
    word-break: break-word;
    padding-left: 70px;

}
.popup-tip .out, .popup-tip .in {
    display: block;
    font-family: simsun;
    font-size: 0;
    height: 0;
    overflow: visible;
    position: absolute;
    width: 0;
    top: 7px;
    left: -8px;
    border-style: solid dashed dashed;
    right: auto;
    bottom: auto;
}
.popup-tip .out {
    border-color: transparent #CFCFCF transparent transparent;
    border-width: 0px 39px 15px 0px;
    left: -39px;
    top: -1px;
}
.popup-tip .in {
    border-color: transparent #def1fe transparent transparent;
    border-width: 0px 32px 14px 0;
    top: 0px;
    left: -32px;
}

.follow-tip{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.follow-tip ul li {
    line-height: 20px;

}
.popup-img-class{
    vertical-align: top;
    margin: 3px;
    width: auto!important;
}
.popup-img-class:hover{
    cursor: pointer;
}
.waggle-swing{
-webkit-animation:wobble 1s .2s ease both;
-moz-animation:wobble 1s .2s ease both;
}

@-webkit-keyframes wobble{
0%{-webkit-transform:translateX(0%)}
15%{-webkit-transform:translateX(-25%) rotate(-5deg)}
30%{-webkit-transform:translateX(20%) rotate(3deg)}
45%{-webkit-transform:translateX(-15%) rotate(-3deg)}
60%{-webkit-transform:translateX(10%) rotate(2deg)}
75%{-webkit-transform:translateX(-5%) rotate(-1deg)}
100%{-webkit-transform:translateX(0%)}
}
@-moz-keyframes wobble{
0%{-moz-transform:translateX(0%)}
15%{-moz-transform:translateX(-25%) rotate(-5deg)}
30%{-moz-transform:translateX(20%) rotate(3deg)}
45%{-moz-transform:translateX(-15%) rotate(-3deg)}
60%{-moz-transform:translateX(10%) rotate(2deg)}
75%{-moz-transform:translateX(-5%) rotate(-1deg)}
100%{-moz-transform:translateX(0%)}
}

.background-hovered{
    background-color: powderblue!important;
}
.background-checked{
    background-color: antiquewhite!important;
}
.required-star{
    margin-left: 3px;
    vertical-align: middle;
    color: red;
}
.popup-check{
    display: none;
    color: red;
}
.popup-cont .tip-title{
    color: green;
}
.popup-cont .tip-title,.popup-check .error-title{
    width: 70px;
    margin-left: -70px;
    display: inline-block;
}

#alarm_controller img{
  @include hover();
}
.control_stretch_table {
    display: inline-block;
    height: 25px;
    float: right;
    cursor: col-resize;
    border: 1px solid rgba(0,0,0,0);
    box-sizing: border-box;
}