@charset "utf-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/**
 * CONTENTS
 *
 * SETTINGS
 * variables .....................变量
 * 
 * TOOLS
 *
 * COMPONENTS
 * reset .........................重置样式
 * 
 * BUSINESS
 *
 * BASE
 * 
 */

@import "compass/reset";
@import "variables","mixin";
@import "top","footer","leftMenu","right";
@import "icons";

body { 
    overflow: hidden;
    font-family: $font-wryh;
}

// main.cgi样式

#bottomFrame{
	background-color:$footer-bg-color;
}


// center.cgi

#leftFrame {
	@include set_size(181px,100%);
	@include float(left);
	@set_color($left-menu-font,#fff);
	@media(max-width:768px){
         display: none;
    }
}

#rightFrame {
	@include set_size(2000px,100%);
	@include float(right);
	@set_color($lp-table-font-color,#fff);
	@media(max-width:768px){
         width:100%!important;
    }
}

.right-waiting{
	@include set_size(100%,100%);
    background-color: #fff;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
	.right-pic{
		@include stretch($offset-top: 0, $offset-left: 0);
		@include set_size(100px,100px);
	    margin: auto;
	}
}


@keyframes lds-spinner {
  0% {
    @include opacity(1);
  }
  100% {
    @include opacity(0);
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    @include opacity(1);
  }
  100% {
    @include opacity(0);
  }
}

.lds-spinner {
  position: relative;
}
.lds-spinner div {
  @include stretch($offset-top: 48px,$offset-left: 94px);
  @include animation(lds-spinner linear 1s infinite);
  background-color: #5bb2b7;
  @include set_size(12px,24px);
  @include border-radius(40%);
  @include transform-origin( 6px 52px);
}

@for $i from 1 through 12 {
  $deg : 30deg * ($i - 1); 
  $sec : (1 - 1/$i) s;
  .lds-spinner div:nth-child(#{$i}){
    @include transform(rotate($deg));
    @include animation-delay($sec);
  }
}

.lds-spinner {
  @include set_size(100px !important,100px !important);
  @include transform(translate(-50px, -50px) scale(0.5) translate(50px, 50px));
}