@charset "utf-8";
span.add-panel-form-label {
	display: inline-block;
	width: 50px;
}
#dest>td:nth-child(2)>div {
	margin-left: 28px;
}

.rule-list {
	table-layout:fixed;
}

.rule-list #rule_listb_for_list_panel  td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7){
	white-space:nowrap;/* 不换行 */ 
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */ 
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/ 
	
}
.items_group-extend{
	margin:-2px
}
.mesg-border-box-m tr.add-panel-odd-line td.add-panel-subtitle, .mesg-border-box-m tr.add-panel-even-line td.add-panel-subtitle {
    width: 24%;
}
.action-image{
	margin-left: 3px;
	margin-right: 3px;
}