#cover_div{
width:100%;
height:100%;
display:none;
background-color:#171717;
position:absolute;
z-index:5;opacity:0.3;
filter:alpha(opacity=30);
text-align:center;
}

#protocol_div{
display:none;
position:absolute;
z-index:6;
top:10%;
}
#detail_display_p{
width:100%;
border-style:none;
height:290px;
font-size:13px;
font-weight:bold;
font-family:ו;
}
.confirm{
padding-top:3px;
color:black;
border:none;
width:88px;
height:28px;
background-image:url(/images/confirm.png);
border:0px;
cursor:pointer;
}

.cancel{
padding-top:3px;
border:none;
color:white;
width:88px;
height:28px;
background-image:url(/images/confirm_hover.png);
border:0px;
cursor:pointer;
}

.bottom_button {
height:40px;
background-color:#e7edf3;
}

#information_td{
width:220px;
border:none;
text-align:left;
padding-right:35px;
font-size:14px;
line-height:150%;
}

.bottom_button td{
text-align:center;
border:none;
}

.img_tr{
height:135px;
background-color:#FFFFFF;
}

.img_td{
width:100px;
border:none;;text-align:center;
}

#close_button{
position:absolute;
left:315px;
z-index:7;
cursor:pointer;
}

#detail_div{
height:220px;
display:none;
position:absolute;
z-index:6;
top:30%;
}

#detail_div div{
width:330px;
height:185px;
background-color:#90bbe7;
position:absolute;
left:0px;
top:10px;
}

#detail_div table{
width:320px;
height:175px;
border-color:#90bbe7;
position:absolute;
left:5px;
top:5px;
}