.popup-mesg-box {
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
    background-color: inherit;
    display: none;
    border: none;
    position: fixed;
    left: 45%;
    top: 45%;
    text-align: center;
    border-radius: 10px;
    z-index: 6;
}
.popup-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #171717;
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    z-index: 5;
    display: none;
}
.popup-div {
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 100px;
    background-color: inherit;
    display: none;
    border: none;
    position: absolute;
    left: 25%;
    top: 15%;
    text-align: center;
    border-radius: 10px;
    z-index: 6;
}
.table-header-checkbox {
    text-align: center;
}
table.enginelist td {
    text-indent: 0px;
    text-align: center;
}
.popup-div-head {
    width: 96%;
    height: 22px;
    margin: 0px auto;
    background-color: #D4E1F2;
}
#hide_engine_list {
    float: right;
    width: 21px;
    height: 15px;
    margin: 2px;
}
.odd {
    line-height: 25px;
}