@charset "utf-8";
/* CSS Document */

#respond_type_choices_back,#eliminate_edit_box_back {
    z-index: 7;
}
#respond_type_choices,#eliminate_edit_box {
    width: 50%;
    text-align: center;
    display: none;
    position: fixed;
    left: 25%;
    top: 150px;
    z-index: 8;
}
#strategy_items_list_back, #strategy_choices_list_back {
    display: none;
    z-index: 5;
}
#strategy_items_list, #strategy_choices_list {
    width: 90%;
    text-align: left;
    position: absolute;
    left: 5%;
    top: 50px;
    display: none;
    z-index: 6;
}
#strategy_choices_list {
    width: 50%;
    left: 25%;
    top: 50px;
    text-align: center;
    position: absolute;
}
#strategy_choices_list_table {
    width: 99%;
}
#popup-mesg-box-back {
    z-index: 9;
}
#popup-mesg-box-loading {
    z-index: 10;
}
.close_box_icon {
    width: 21px;
    height: 15px;
}
.popup-mesg-box-tbody {
    background: #FFF;
}
.respond_type_item_box {
    float: left;
    width: 30%;
    margin: 5px;
}
.respond_type_selected {
    font-weight: bold;
    color: #5C98CA;
}

/*覆盖样式*/
.toolbar td#new-rule-list-head-td, .toolbar td#new-rule-list-foot-td {
    border-right: 1px solid #AAAAAA;
}

#new-rule-listbh{
    background-color: #E5F0FA;
    color: #192027;
    font-weight: bold;
    text-align: center;
}
#new-rule-listbh td{
    text-align: center;
}
.edit_box_header {
    background-color: #D0DFF2;
    height: 35px;
    line-height: 35px;
    border-bottom: solid 1px #AAA;
}
.odd td, .env td {
    text-align: left;
}
.toolbar tr.close td:first-child {
    border-bottom: none;
    border-right: none;
    line-height: 35px;
}
/*选择策略ID时的样式*/
#strategy_choices_list_table tr.strategy_choices_list_foot_tr {
    line-height: 40px;
}
td.strategy_choices_list_foot_td {
    border-top: none;
    border-right: none;
    line-height: 35px;
    text-align: center;
}
#strategy_choices_list_table td {
    border-right: none;
}
.net_button {
    margin: 10px;
}