.header_red, .header_ipsec, .header_dhcpd, .header_dnsmasq, .header_backup, .header_smtp, .header_system, .header_dansguardian, .header_squid, .header_snort, .header_firewall, .header_clamav, .header_openvpn, .header_httpd {
 font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
 display: table-cell;
 width: 70px;
 font-size: 11px;
 font-weight: bold;
 border-bottom: 1px solid #ccc;
 padding: 2px;
}

.date_red, .date_ipsec, .date_dhcpd, .date_dnsmasq, .date_backup, .date_smtp, .date_system, .date_dansguardian, .date_squid, .date_snort, .date_firewall, .date_clamav, .date_openvpn, .date_httpd {
 font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
 display: table-cell;
 width: 130px;
 font-size: 10px;
 border-bottom: 1px solid #ccc;
 padding: 2px;
}

.text_red, .text_ipsec, .text_dhcpd, .text_dnsmasq, .text_backup, .text_smtp, .text_system, .text_dansguardian, .text_squid, .text_snort, .text_firewall, .text_clamav, .text_openvpn, .text_httpd {
 font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
 display: table-cell;
 font-size: 10px;
 border-bottom: 1px solid #ccc;
 margin-right: 5px;
 padding: 2px;
}

.log_maindiv {
 padding: 0px;
 margin: 0px;
 spacing: 0px;
 display: table;
 table-layout: fixed;
 width: 100%;
}

#td_system, #td_firewall, #td_squid, #td_dansguardian, #td_snort, #td_openvpn, #td_clamav, #td_smtp, #td_httpd {
 font-weight: bold;
 vertical-align: top;
 font-size: 11px;
}

.log_list_outer {
 position: relative;
 width: 100%;
 display: block;
 margin-top: 5px;
 margin-left: 50px;
}

.log_type_list {
 width: 250px;
}

.log_list_button {
 width: 100px;
}

.log_show_alone {
 width: 200px;
}

.select_all_logs {
 font-weight: bold;
}

button {
 font-family: sans-serif;
 font-size: 100%;
 border: 1px solid #bbbbbb;
}

#actual {
 font-weight: bold;
 border: solid 1px #ccc;
 display: block;
 width: 130px;
 position: relative;
 right: 20px;
 float: right;
}

#optionstable {
 width: 600px;
 float: left;
 clear: none;
}

#fulloptions {
 width: 600px;
 spacing: 1px;
 width: 600px;
 float: left;
 clear: none;
}

#page_container {
 width: 100%;
 float: left;
 clear: both;
}

#resize_buttons {
 margin-top: 5px;
 margin-bottom: 5px;
 float: right;
 margin-right: 10px;
} 
