@charset "utf-8";
/************************************************************中部************************************************************/
.list{width:96%;margin:5px auto;font-size:12px;}
.list li{height:30px;line-height:30px;border-bottom:1px dashed #aaa;}
.list li span{width:120px;display:block;float:left;}
/**************************************************************END**************************************************************/
