.popup-short-mesg-box-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #171717;
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    z-index: 65534;
}
.popup-short-mesg-box-body {
    margin: 0px;
    padding: 0px;
    width: 240px;
    height: 150px;
    background-color: #FFFFFF;
    border: none;
    text-align: center;
    position: fixed;
    left: 40%;
    top: 25%;
    text-align: center;
    z-index: 65535;
}
.popup-short-mesg-text-area {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 90px;
    background-color: #FFFFFF;
    border: none;
}
.popup-short-mesg-text {
    /*font-family: "微软雅黑" "华文楷体" Serif;*/
    font-size: 13px;
    line-height: 25px;
    padding: 35px 5px;
}
.popup-short-mesg-buttons {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 60px;
    background-color: #F2F2F2;
    border: solid 1px #B4B4B4;
    border: none;
}
.popup-short-mesg-buttons button {
    border: solid 1px #AAAAAA;
}
.popup-short-mesg-button {
    margin: 15px 8px;
    padding: 5px;
    min-width: 80px;
    height: 28px;
    background-color: #F2F2F2;
    border: none;
}
.button-text {
}
.popup-short-mesg-button-ok {
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 60px;
    background-color: #FFFFFF;
    border: solid 1px #B4B4B4;
    display: inline;
}
.popup-short-mesg-button-no {
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 60px;
    background-color: #FFFFFF;
    border: solid 1px #B4B4B4;
    display: inline;
}
.alert-mesg {
    color: #FF0000;
}
.note-mesg {
    color: #000000;
}