@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * CONTENTS
 *
 * SETTINGS
 * variables .....................变量
 * 
 * TOOLS
 *
 * COMPONENTS
 * reset .........................重置样式
 * 
 * BUSINESS
 *
 * BASE
 * 
 */
/* line 8, publicss/sass/_list.scss */
.list {
  width: 100%;
  height: auto;
  margin: 0px auto;
  border: 2px solid #e2e2e2;
  background-color: #fefefe;
}
/* line 13, publicss/sass/_list.scss */
.list .container-main-body {
  width: 100%;
  height: auto;
  max-height: 1000px;
}

/* line 19, publicss/sass/_list.scss */
.rule-list {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  table-layout: fixed;
}
/* line 23, publicss/sass/_list.scss */
.rule-list thead {
  width: 100%;
  height: auto;
  color: #231915;
  background-color: #f2f2f2;
}
/* line 26, publicss/sass/_list.scss */
.rule-list thead tr {
  width: 100%;
  height: 27px;
  border: 1px solid #eeeeee;
  font-weight: bold;
}
/* line 30, publicss/sass/_list.scss */
.rule-list thead tr td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 36, publicss/sass/_list.scss */
.rule-list tbody {
  width: 100%;
  height: auto;
}
/* line 38, publicss/sass/_list.scss */
.rule-list tbody tr {
  width: 100%;
  height: inherit;
  line-height: 32px;
  height: 32px;
  border: 1px solid #eeeeee;
  text-indent: 5px;
}
/* line 44, publicss/sass/_list.scss */
.rule-list tbody tr.even-num-line {
  color: #3E3938;
  background-color: #fefefe;
}
/* line 47, publicss/sass/_list.scss */
.rule-list tbody tr.odd-num-line {
  color: #3E3938;
  background-color: #f8f8f8;
}
/* line 51, publicss/sass/_list.scss */
.rule-list td {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
/* line 53, publicss/sass/_list.scss */
.rule-list td input {
  cursor: pointer;
}
/* line 57, publicss/sass/_list.scss */
.rule-list td.text-hidden {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-word;
}

/* line 62, publicss/sass/_list.scss */
.list-panel-title {
  width: 100%;
  height: 25px;
  color: #073662;
  background-color: #fefefe;
  font-size: 13px;
  font-weight: bold;
  text-indent: 10px;
  min-height: 30px;
  line-height: 30px;
}
/* line 70, publicss/sass/_list.scss */
.list-panel-title img {
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -2px;
}

/* line 76, publicss/sass/_list.scss */
.rule-listbc {
  width: 50px;
  text-indent: 0px;
  text-align: center;
}

/* line 81, publicss/sass/_list.scss */
.toolbar {
  width: 100%;
  height: inherit;
  background-color: #fefefe;
  padding: 8px 0;
  *zoom: 1;
}
/* line 85, publicss/sass/_list.scss */
.toolbar .opt-tools {
  float: left;
  margin-left: 13px;
}
/* line 90, publicss/sass/_list.scss */
.toolbar .search, .toolbar .paging-tools {
  float: right;
  vertical-align: middle;
}
/* line 38, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.toolbar:after {
  content: "";
  display: table;
  clear: both;
}

/* line 98, publicss/sass/_list.scss */
.toolbar-paging-tools {
  color: #231915;
  background-color: #f2f2f2;
}
/* line 101, publicss/sass/_list.scss */
.toolbar-paging-tools .paging-tools img {
  margin: auto 8px;
  cursor: pointer;
}
/* line 105, publicss/sass/_list.scss */
.toolbar-paging-tools .paging-tools #first_page_icon_for_list_panel {
  vertical-align: sub;
}
/* line 108, publicss/sass/_list.scss */
.toolbar-paging-tools .paging-tools > span {
  margin: auto 6px;
}

/* line 113, publicss/sass/_list.scss */
.imaged-button, .add-panel-form-button {
  color: #fff;
  background-color: #5BC0DE;
  cursor: pointer;
  min-width: 78px;
  margin: auto 8px;
  padding: 5px 10px;
  border: none !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 121, publicss/sass/_list.scss */
.imaged-button img, .add-panel-form-button img {
  vertical-align: text-top;
  margin-right: 4px;
}

/* line 126, publicss/sass/_list.scss */
button {
  cursor: pointer;
  vertical-align: middle;
  min-width: 40px;
  padding: 3px auto;
  margin-left: 5px;
}

/* line 134, publicss/sass/_list.scss */
.search .search-item {
  margin-right: 5px;
}
/* line 136, publicss/sass/_list.scss */
.search .search-item .search-key-input {
  width: 196px;
  height: inherit;
  padding: 5px;
  font-size: 12px;
  vertical-align: middle;
}
/* line 144, publicss/sass/_list.scss */
.search .search-item .search-button .button-image {
  padding: 2px 0;
  width: 12px;
  height: 12px;
}
/* line 148, publicss/sass/_list.scss */
.search .search-item .search-button .button-text {
  height: 10px;
  font-size: 13px;
  margin-left: 3px;
}

/* line 157, publicss/sass/_list.scss */
.align-center {
  text-align: center !important;
  text-indent: 0 !important;
}

/* line 161, publicss/sass/_list.scss */
.rule-listbc {
  width: 50px;
  text-indent: 0px;
  text-align: center;
}

/* line 166, publicss/sass/_list.scss */
.action-image {
  margin: auto 5px;
}

/* line 170, publicss/sass/_list.scss */
.mesg-box-s {
  width: 40%;
  max-height: 370px;
}

/* line 174, publicss/sass/_list.scss */
.close-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  float: right;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #231915;
  background-color: inherit;
  border: none;
}

/* line 183, publicss/sass/_list.scss */
.background-hovered {
  background-color: powderblue !important;
}

/* line 186, publicss/sass/_list.scss */
.background-checked {
  background-color: antiquewhite !important;
}

/* line 190, publicss/sass/_list.scss */
.control_stretch_table {
  display: inline-block;
  height: 25px;
  float: right;
  cursor: col-resize;
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* line 64, other/*.png */
.other-sprite, .other-logo, .other-manager_controll, .other-warnning_lamp {
  background-image: url('../images/other-s61a7760320.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.other-logo {
  background-position: 0 0;
}

/* line 84, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.other-manager_controll {
  background-position: 0 -50px;
}

/* line 84, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.other-warnning_lamp {
  background-position: 0 -69px;
}

/* line 11, publicss/sass/_popup.scss */
.popup-tip {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #515151;
  background-color: #6BC6E2;
  cursor: pointer;
  position: absolute;
  min-width: 200px;
  text-align: left;
  z-index: 9999;
  font-size: 13px;
  display: none;
}
/* line 21, publicss/sass/_popup.scss */
.popup-tip .cont {
  height: auto;
  background-color: #6BC6E2;
  padding: 6px;
  margin: 0;
  margin-left: 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 28, publicss/sass/_popup.scss */
.popup-tip .cont li {
  line-height: 20px;
  max-width: 210px;
  word-break: break-word;
  padding-left: 70px;
  color: #fff;
}
/* line 36, publicss/sass/_popup.scss */
.popup-tip .out, .popup-tip .in {
  display: block;
  font-family: simsun;
  font-size: 0;
  overflow: visible;
  position: absolute;
  top: 7px;
  bottom: 0;
  left: -8px;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid dashed dashed;
}
/* line 45, publicss/sass/_popup.scss */
.popup-tip .in {
  border-color: transparent #6BC6E2 transparent transparent;
  border-width: 8px 12px 8px 0px;
  top: 8px;
  left: -11px;
}
/* line 51, publicss/sass/_popup.scss */
.popup-tip .tip-title, .popup-tip .error-title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: #333;
  font-weight: bold;
  width: 70px;
  margin-left: -70px;
  display: inline-block;
}
/* line 58, publicss/sass/_popup.scss */
.popup-tip .popup-check {
  display: none;
}
/* line 60, publicss/sass/_popup.scss */
.popup-tip .popup-check .error-info {
  color: red;
}

/* line 66, publicss/sass/_popup.scss */
.popup-img-class {
  vertical-align: top;
  margin: 3px;
  width: auto !important;
  cursor: pointer;
}

/* line 12, publicss/sass/_add.scss */
table {
  font-size: 13px;
}

/* line 16, publicss/sass/_add.scss */
.popup-mesg-box-cover, .open-dialog__overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 50;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 29, publicss/sass/_add.scss */
.popup-mesg-box-body {
  position: absolute;
  top: 44%;
  bottom: auto;
  left: 50%;
  right: 0;
  width: 100%;
  height: max-content;
  border: 8px solid rgba(51, 51, 51, 0.2);
  min-width: 450px;
  z-index: 60;
}
/* line 35, publicss/sass/_add.scss */
.popup-mesg-box-body .list {
  border: none;
  background-color: #fefefe;
}

/* line 41, publicss/sass/_add.scss */
.add-panel {
  width: 100%;
  height: auto;
}

/* line 45, publicss/sass/_add.scss */
.add-panel-header {
  width: 100%;
  height: 30px;
  line-height: 30px;
  height: 30px;
  color: #192027;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: bold;
  padding-top: 2px;
}

/* line 54, publicss/sass/_add.scss */
.add-panel-title {
  float: left;
  display: inline;
}
/* line 59, publicss/sass/_add.scss */
.add-panel-title img {
  float: left;
  display: block;
  margin: 7px 0px -7px 5px;
}
/* line 66, publicss/sass/_add.scss */
.add-panel-title .add-panel-title-text {
  font-size: 14px;
  font-weight: bold;
  color: #231915;
}

/* line 72, publicss/sass/_add.scss */
.add-panel-close-button {
  float: right;
  width: 20px;
  height: inherit;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}
/* line 78, publicss/sass/_add.scss */
.add-panel-close-button:after {
  content: "x";
}

/* line 85, publicss/sass/_add.scss */
.add-panel-content {
  width: 100%;
  background-color: #fefefe;
}

/* line 90, publicss/sass/_add.scss */
.container-main-body {
  width: 100%;
  height: inherit;
  background-color: #fefefe;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: inherit;
}
/* line 32, publicss/sass/_mixin.scss */
.container-main-body::-webkit-scrollbar-track {
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
/* line 37, publicss/sass/_mixin.scss */
.container-main-body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
/* line 41, publicss/sass/_mixin.scss */
.container-main-body::-webkit-scrollbar-thumb {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
/* line 100, publicss/sass/_add.scss */
.container-main-body table {
  width: 100%;
  height: inherit;
  font-size: 13px;
  background-color: #fefefe;
}
/* line 106, publicss/sass/_add.scss */
.container-main-body table tr {
  border: 1px solid #eeeeee;
}
/* line 111, publicss/sass/_add.scss */
.container-main-body tr {
  line-height: 30px;
  height: 30px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  text-indent: 5px;
}
/* line 117, publicss/sass/_add.scss */
.container-main-body tr .add-panel-subtitle {
  text-indent: 15px;
  width: 15%;
  min-width: 140px;
  border-right: 1px solid #eeeeee;
}
/* line 124, publicss/sass/_add.scss */
.container-main-body tr .add-panel-section {
  width: 85%;
  text-indent: 0px;
  padding: 0 5px;
}
/* line 128, publicss/sass/_add.scss */
.container-main-body tr .add-panel-section input, .container-main-body tr .add-panel-section textarea, .container-main-body tr .add-panel-section select {
  border: 1px solid #c1c1c1;
}

/* line 135, publicss/sass/_add.scss */
.add-panel-form-text {
  width: 196px;
  height: 20px;
  padding: 1px;
  text-indent: 1px;
}

/* line 141, publicss/sass/_add.scss */
.add-panel-form-select {
  width: 196px;
  height: 24px;
}

/* line 145, publicss/sass/_add.scss */
.add-panel-form-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 5px;
}

/* line 151, publicss/sass/_add.scss */
.add-panel-footer {
  color: #fff;
  background-color: #f2f2f2;
  padding: 4px 0;
  text-align: center;
}
/* line 157, publicss/sass/_add.scss */
.add-panel-footer input {
  color: #fff;
  background-color: #5BC0DE;
  cursor: pointer;
  min-width: 80px;
  margin: auto 20px;
  padding: 4px 6px;
  border: none;
}

/* line 168, publicss/sass/_add.scss */
.add-panel-form-button {
  min-width: 70px;
  height: 24px;
}

/* line 173, publicss/sass/_add.scss */
.add_panel_header_move {
  cursor: move;
}

/* line 176, publicss/sass/_add.scss */
.waggle-swing {
  -moz-animation: wobble 1s 0.2s ease both;
  -webkit-animation: wobble 1s 0.2s ease both;
  animation: wobble 1s 0.2s ease both;
}

@-moz-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
/* line 190, publicss/sass/_add.scss */
.required-star {
  margin-left: 3px;
  vertical-align: middle;
  color: red;
}

/* line 195, publicss/sass/_add.scss */
.container-main-body-m {
  max-height: 300px;
}

/* line 198, publicss/sass/_add.scss */
.container-main-body-s {
  max-height: 300px;
}

/* line 201, publicss/sass/_add.scss */
.mesg-box-m {
  width: 50%;
}
/* line 17, publicss/sass/_mixin.scss */
.mesg-box-m .add-panel {
  max-height: 450px;
}

/* line 204, publicss/sass/_add.scss */
.mesg-box-s {
  width: 40%;
}
/* line 17, publicss/sass/_mixin.scss */
.mesg-box-s .add-panel {
  max-height: 370px;
}

/* line 28, publicss/sass/add_list_base.scss */
.disabled {
  cursor: not-allowed !important;
}
