@charset "UTF-8";
/* 顶部 */
/* line 9, publicss/sass/content.scss */
table.list {
  width: 100%;
  margin: 0;
  margin-top: 0px;
  border: 1px solid #bfbfbf;
  border-top: 0px;
  padding: 7px;
}

/* line 18, publicss/sass/content.scss */
div.error {
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 10px;
}

/* line 26, publicss/sass/content.scss */
img.error {
  margin-right: 40px;
}

/* line 30, publicss/sass/content.scss */
div.warning {
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 10px;
}

/* line 38, publicss/sass/content.scss */
img.warning {
  margin-right: 40px;
}

/* line 42, publicss/sass/content.scss */
h3.error {
  background: url(../images/box-back.png);
}

/* line 45, publicss/sass/content.scss */
h3.warning {
  background: url(../images/box-back.png);
}

/* line 48, publicss/sass/content.scss */
h3.note {
  background: url(../images/box-back.png);
}

/* line 52, publicss/sass/content.scss */
div.note {
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 10px;
}

/* line 59, publicss/sass/content.scss */
img.note {
  margin-right: 40px;
}

/* line 63, publicss/sass/content.scss */
table tr.header {
  background-image: url(../images/table-header.png);
  background-repeat: no-repeat;
  background-color: #e6e6e6;
}

/* line 69, publicss/sass/content.scss */
table.list tr.header td {
  font-size: 10px;
  padding: 0px;
  margin: 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

/* line 77, publicss/sass/content.scss */
table.list tr.oodd {
  background: #fafafa;
  padding: 0;
  margin: 0;
}

/* line 83, publicss/sass/content.scss */
table.list tr.even {
  background: #f0f0f0;
  margin: 0;
}

/* line 88, publicss/sass/content.scss */
table.list tr td {
  padding: 4px 4px 4px 2px;
  margin: 0;
}

/* line 93, publicss/sass/content.scss */
table.list td.top-no-padding {
  padding-top: 0px;
}

/* line 97, publicss/sass/content.scss */
.selected {
  text-indent: 5px;
  background-color: #ffff00;
}

/* line 101, publicss/sass/content.scss */
.selected td {
  border: 0px;
  border-bottom: 1px solid #999;
  padding: 5px;
  border-right: 1px solid #999;
}

/* line 109, publicss/sass/content.scss */
#page-content a.info {
  text-decoration: none;
  color: #579903;
}

/* line 110, publicss/sass/content.scss */
#page-content a.info:hover {
  text-decoration: none;
  color: #000000;
}

/* line 112, publicss/sass/content.scss */
#page-content a {
  text-decoration: underline;
  color: #579903;
}

/* line 117, publicss/sass/content.scss */
#page-content a:hover {
  text-decoration: underline;
  color: #000000;
}

/* line 122, publicss/sass/content.scss */
.border-bottom {
  border-bottom: 1px solid #ccc;
}

/* line 126, publicss/sass/content.scss */
.border-top {
  border-top: 1px solid #ccc;
}

/* line 130, publicss/sass/content.scss */
.green {
  color: #339933;
}

/* line 134, publicss/sass/content.scss */
.red {
  color: #993333;
}

/* line 138, publicss/sass/content.scss */
.orange {
  color: #FF9933;
}

/* line 142, publicss/sass/content.scss */
.greens {
  color: #339933;
}

/* line 146, publicss/sass/content.scss */
.reds {
  color: #993333;
}

/* line 150, publicss/sass/content.scss */
.oranges {
  color: #FF9933;
}

/* line 155, publicss/sass/content.scss */
.yellow {
  color: #FFFF00;
}

/* line 159, publicss/sass/content.scss */
.blue {
  color: #333399;
}

/* line 163, publicss/sass/content.scss */
.bold {
  font-weight: bold;
}

/* line 167, publicss/sass/content.scss */
.cb {
  clear: both;
}

/* line 171, publicss/sass/content.scss */
.hidden {
  display: none;
}

/* line 175, publicss/sass/content.scss */
table.ruleslist {
  width: 96%;
  height: inherit;
  border: 2px solid #e2e2e2;
  margin: 0px auto;
  border-collapse: collapse;
  table-layout: fixed;
}
/* line 181, publicss/sass/content.scss */
table.ruleslist tr {
  line-height: 25px;
  height: 25px;
  border-bottom: 1px solid #eeeeee;
}
/* line 185, publicss/sass/content.scss */
table.ruleslist td, table.ruleslist th {
  text-align: left;
}
/* line 188, publicss/sass/content.scss */
table.ruleslist td {
  text-indent: 10px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 192, publicss/sass/content.scss */
table.ruleslist td.boldbase, table.ruleslist table.ruleslist tr th {
  color: #192027;
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

/* line 198, publicss/sass/content.scss */
.table_note td div {
  font-size: 1.2em;
  font-weight: bold;
  color: #ba7b0e;
  margin: 0px auto;
  text-align: center;
}
/* line 204, publicss/sass/content.scss */
.table_note td div img {
  width: 25px;
  height: 25px;
  margin-bottom: -6px;
}

/* line 210, publicss/sass/content.scss */
table.ruleslist td.actions {
  min-width: 160px;
}

/* line 214, publicss/sass/content.scss */
table.ruleslist td.actions input {
  /*	border: none;*/
  float: left;
  padding: 0;
  margin: 0;
  padding-left: 4px;
  height: 16px;
  width: 16px;
}

/* line 224, publicss/sass/content.scss */
table.ruleslist td.actions a {
  /*	border: none;*/
  float: none;
  padding: 0;
  margin: 0;
  padding-left: 4px;
  height: 16px;
  width: 16px;
}

/* line 235, publicss/sass/content.scss */
table.list table.ruleslist tr td {
  padding-left: 5px;
}

/* line 239, publicss/sass/content.scss */
img.clear {
  /*	border: none;*/
  float: left;
  padding: 0;
  margin: 0;
  padding-left: 4px;
  height: 16px;
  width: 16px;
}

/* line 249, publicss/sass/content.scss */
div.box {
  padding-bottom: 20px;
}

/* line 257, publicss/sass/content.scss */
div.submit {
  padding: 0px 0px 0px 0px;
  text-align: left;
}

/* line 262, publicss/sass/content.scss */
div.boxsubmit {
  border-top: 1px solid #cccccc;
  padding: 10px 0px 0px 8px;
  text-align: left;
}

/* line 268, publicss/sass/content.scss */
div.editortitle {
  border-bottom: 1px solid #cccccc;
  padding: 0px 0px 10px 0px;
  text-align: left;
}

/* line 274, publicss/sass/content.scss */
div.editoradd {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 0px;
  background: url(/images/editoradd.png) no-repeat;
  padding-left: 20px;
  line-height: 16px;
}

/* line 283, publicss/sass/content.scss */
div.editorbox {
  text-align: left;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  background-color: #f0f0f0;
}

/* line 291, publicss/sass/content.scss */
div.ediorerror {
  text-align: left;
}

/* line 295, publicss/sass/content.scss */
div.editorsubmit {
  border-top: 1px solid #cccccc;
  padding: 10px 0px 0px 0px;
  text-align: left;
}

/* Form layout styles */
/* line 302, publicss/sass/content.scss */
input.checkbox {
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
}

/* line 304, publicss/sass/content.scss */
.form-field, .multi-form-field {
  float: left;
  padding-right: 4px;
}

/* line 305, publicss/sass/content.scss */
.form-field input, .form-field select, .multi-form-field input, .multi-form-field select {
  display: block;
  margin: 0px;
  margin-top: 4px;
}

/* line 306, publicss/sass/content.scss */
.form-field input, .form-field select {
  width: 370px;
}

/* line 307, publicss/sass/content.scss */
.multi-form-field input, .multi-form-field select {
  width: 180px;
}

/* line 308, publicss/sass/content.scss */
input.checkbox {
  margin: 0px;
  margin-top: 4px;
  padding: 0px;
}

/* line 309, publicss/sass/content.scss */
label {
  font-weight: bold;
}

/* line 310, publicss/sass/content.scss */
#network-register td {
  padding: 4px 4px 4px 0px;
}

/* line 311, publicss/sass/content.scss */
td.section-title {
  padding: 4px 4px 0px 0px;
}

/* line 312, publicss/sass/content.scss */
td.title p.form-section-title {
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 4px;
}

/* line 313, publicss/sass/content.scss */
.form-section-title.first {
  padding-top: 0px;
}

/* line 314, publicss/sass/content.scss */
label.error-msg {
  font-weight: normal;
  padding-top: 3px;
  color: red;
  font-size: 10px;
  display: block;
  clear: both;
}

/* line 315, publicss/sass/content.scss */
.divider {
  border-top: #AAAAAA 1px dotted;
  margin: 0px;
  padding: 0px;
  padding-bottom: 4px;
}

/* line 316, publicss/sass/content.scss */
.form-field.error, .multi-form-field.error {
  color: red;
}

/* line 318, publicss/sass/content.scss */
div.save-button {
  float: left;
  width: 680px;
  margin-top: 3px;
  border-top: #dddddd 1px solid;
  padding-top: 6px;
  padding-right: 24px;
  padding-bottom: 16px;
}

/* Styles for the ajaxed service switch (on/off) */
/* line 321, publicss/sass/content.scss */
.service-switch {
  padding: 0px;
  margin: 0px;
}

/* line 322, publicss/sass/content.scss */
.service-switch .title {
  line-height: 17px;
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 323, publicss/sass/content.scss */
.service-switch .image {
  padding-left: 6px;
}

/* line 324, publicss/sass/content.scss */
.service-switch div.save-button {
  padding-top: 6px;
}

/* line 326, publicss/sass/content.scss */
.service-switch .content .description {
  margin-top: 19px;
  background-color: #eeeeee;
  border: #dddddd 1px solid;
  padding: 4px;
  width: 500px;
}

/* Style the spinner text */
/* line 328, publicss/sass/content.scss */
.service-switch .content .working {
  margin-top: 18px;
}

/* Spinner layout styles */
/* line 330, publicss/sass/content.scss */
.spinner {
  display: none;
  background: url(/images/indicator.gif) no-repeat 0px 0px;
  line-height: 16px;
  margin: 0px;
  padding: 0px;
  padding-left: 24px;
}

/* line 337, publicss/sass/content.scss */
.service-switch .content .options-container {
  margin-top: 11px;
}

/* line 338, publicss/sass/content.scss */
.service-switch .content .options-container div.title {
  padding: 4px 4px 0px 0px;
}

/* line 339, publicss/sass/content.scss */
.service-switch .content .options-container div.divider {
  border-top: #AAAAAA 1px dotted;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0px;
}

/* line 341, publicss/sass/content.scss */
.service-switch .enable-uplinks {
  padding-top: 10px;
}

/* line 342, publicss/sass/content.scss */
.service-switch .enable-uplinks span {
  padding-right: 10px;
}

/* Vertical-align only applies to checkboxes - needed only for firefox to align label and checkbox */
/* line 344, publicss/sass/content.scss */
.service-switch .enable-uplinks input {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  vertical-align: bottom;
  margin-right: 4px;
}

/* line 345, publicss/sass/content.scss */
.service-switch .enable-uplinks select {
  margin-left: 4px;
}

/* styles for remote.cgi */
/* line 348, publicss/sass/content.scss */
.service-switch-image {
  padding-left: 6px;
}

/* line 349, publicss/sass/content.scss */
.switch-options {
  margin-top: 0px;
}

/* line 351, publicss/sass/content.scss */
#ssh-options, #ssh-hold {
  padding-top: 10px;
}

/* line 352, publicss/sass/content.scss */
#ssh-hold {
  margin-top: 7px;
}

/* line 353, publicss/sass/content.scss */
p.form-section-title {
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  padding-bottom: 4px;
}

/* line 354, publicss/sass/content.scss */
div.title {
  padding: 4px 4px 0px 0px;
}

/* line 355, publicss/sass/content.scss */
.divider {
  border-top: #AAAAAA 1px dotted;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0px;
}

/* line 356, publicss/sass/content.scss */
#ssh-description {
  margin-top: 17px;
  background-color: #eeeeee;
  border: #dddddd 1px solid;
  padding: 4px;
  width: 500px;
}

/* line 357, publicss/sass/content.scss */
table.list tr td, table.ruleslist tr th {
  padding: 4px 4px 4px 0px;
}

/* Styles for enaccess.cgi */
/*#access-policy-hold { margin-top: 27px; }
#access-policy { margin-top: 0px; }
p.form-section-title { font-size: 12px; font-weight: normal; padding: 0px; margin: 0px; padding-bottom: 4px; }
div.title { padding: 4px 4px 0px 0px; }
.divider { border-top: #AAAAAA 1px dotted; margin: 0px; padding: 0px; padding-bottom: 0px; }
#access-description { }
.cb-caption { padding-left: 6px; }  
/*

/* Styles for EFW Forms */
/* line 371, publicss/sass/content.scss */
.efw-form .section {
  margin-bottom: 0px;
}

/* line 372, publicss/sass/content.scss */
.efw-form .section.first {
  margin-top: 0px;
}

/* line 373, publicss/sass/content.scss */
.efw-form .section div.title {
  border-bottom: #AAAAAA 1px dotted;
  margin: 0px;
  padding: 0px;
  margin-bottom: 12px;
}

/* line 374, publicss/sass/content.scss */
.efw-form .section div.title h2.title {
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 4px;
}

/* line 375, publicss/sass/content.scss */
.efw-form .section .fields-row {
  padding-bottom: 10px;
}

/* line 376, publicss/sass/content.scss */
.efw-form .section .fields-row .multi-field, .efw-form .section .fields-row .field {
  float: left;
  padding-right: 4px;
}

/* line 377, publicss/sass/content.scss */
.efw-form .section .fields-row .multi-field input, .efw-form .section .fields-row .multi-field select,
.efw-form .section .fields-row .field input, .efw-form .section .fields-row .field select, .efw-form .section .fields-row .field .value, .efw-form .section .fields-row .field textarea {
  display: block;
  margin: 0px;
  margin-top: 4px;
}

/* line 379, publicss/sass/content.scss */
.efw-form .section .fields-row .multi-field input, .efw-form .section .fields-row .multi-field select {
  width: 180px;
}

/* line 380, publicss/sass/content.scss */
.efw-form .section .fields-row .field input, .efw-form .section .fields-row .field select, .efw-form .section .fields-row .field textarea {
  width: 372px;
}

/* line 381, publicss/sass/content.scss */
.efw-form .section .fields-row .field.checkbox input, .efw-form .section .fields-row .multi-field.checkbox input {
  display: inline;
  width: inherit;
}

/* line 382, publicss/sass/content.scss */
.efw-form .section .fields-row .field.checkbox label, .efw-form .section .fields-row .multi-field.checkbox label {
  font-weight: normal;
  padding-left: 4px;
}

/* line 383, publicss/sass/content.scss */
.efw-form .field.checkbox input, .efw-form .multi-field.checkbox input {
  margin: 0px;
  padding: 0px;
}

/* line 384, publicss/sass/content.scss */
.efw-form .section .field.submit input, .efw-form .section .multi-field.submit input {
  width: inherit;
}

/* Styles for multi column form sections, meaning that more than one column is next to the other */
/* line 386, publicss/sass/content.scss */
.efw-form .section.multi-column {
  float: left;
  padding-right: 24px;
}

/*.form-field, .multi-form-field { float:left; padding-right: 4px; }
.form-field input, .form-field select, .multi-form-field input, .multi-form-field select { display: block; margin: 0px; margin-top: 4px; }
.form-field input, .form-field select { width: 370px; }
.multi-form-field input, .multi-form-field select { width: 180px; }
*/
/* If the form is used within an editorbox the padding around the
 * title is removed
 */
/* line 396, publicss/sass/content.scss */
.editorbox .efw-form .section div.title h2.title {
  padding-top: 0px;
}

/* Legend to a list should show a space of 6px to the list above */
/* line 402, publicss/sass/content.scss */
.list-legend {
  width: 96%;
  margin: 0px auto;
}

/* line 407, publicss/sass/content.scss */
.list-legend tr {
  background-color: #f2f2f2;
  line-height: 25px;
  height: 25px;
}

/* line 414, publicss/sass/content.scss */
.list-legend tr td {
  text-indent: 20px;
}

/* line 418, publicss/sass/content.scss */
.list-legend tr td img {
  margin: 0px 5px -3px 5px;
}

/* line 423, publicss/sass/content.scss */
.inline {
  display: inline;
}

/* line 426, publicss/sass/content.scss */
table.list table.ruleslist tr td.center, table.list table.ruleslist tr th.center {
  text-align: center;
}

/* line 430, publicss/sass/content.scss */
.important {
  background: url(/images/bubble.png) transparent no-repeat;
  padding: 10px;
  height: 93px;
  width: 486px;
}

/* line 437, publicss/sass/content.scss */
.important .content {
  color: #ffffff;
  font-size: 13px;
  margin-top: 9px;
  padding-left: 100px;
  padding-right: 10px;
  text-align: left;
}

/* line 447, publicss/sass/content.scss */
.error-fancy .content .sign {
  margin-top: 10px;
  padding-top: 5px;
}

/* line 448, publicss/sass/content.scss */
.error-fancy .content .text, .notification-fancy .content .text {
  margin-top: 10px;
  line-height: 25px;
  font-size: 14px;
}

/* line 451, publicss/sass/content.scss */
.error-fancy {
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  height: 20%;
  background-color: #FFF;
  border: 3px solid #f8622e;
  text-align: center;
}

/* line 461, publicss/sass/content.scss */
.notification-fancy {
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  height: 20%;
  background-color: #FFF;
  border: 3px solid #fcb214;
  text-align: center;
}

/* line 472, publicss/sass/content.scss */
.notification {
  background: url(/images/bubble_yellow.png) transparent no-repeat;
  padding: 10px;
  height: 93px;
  width: 486px;
}

/* line 479, publicss/sass/content.scss */
.notification .content {
  color: #ffffff;
  font-size: 13px;
  margin-top: 9px;
  padding-left: 80px;
  padding-right: 10px;
  text-align: left;
}

/* line 488, publicss/sass/content.scss */
.service-switch-form {
  width: 96%;
  margin: 10px auto;
  border: 1px solid #999;
  background-color: #ebf5f7;
  padding: 5px;
}

/* line 497, publicss/sass/content.scss */
.bold {
  font-weight: bold;
}
