@charset "utf-8";
/* CSS Document */
* {margin:0;padding:0;}
.module{position:absolute;cursor:pointer;border:1px dashed #0F0; visibility:hidden; z-index:1;}

.title{position:absolute; top:100%; height:0px; font-size:12px;width:100%; text-align:center; visibility:visible; z-index:1;}

.content{visibility:visible; z-index:1;display: table-cell;vertical-align:middle;}
.content img{vertical-align:middle;}

/*缩放控制点*/
.top_left{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:nw-resize; z-index:1;}
.top_middle{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:n-resize; z-index:1;}
.top_right{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:ne-resize; z-index:1;}
.middle_left{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:w-resize; z-index:1;}
.middle_right{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:w-resize; z-index:1;}
.bottom_left{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:sw-resize; z-index:1;}
.bottom_middle{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:s-resize; z-index:1;}
.bottom_right{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:nw-resize; z-index:1;}

.scaling{font-size:0px; width:5px !important;height:5px !important;width:7px; height:7px; border:1px solid #000; background-color:#00F; position:absolute; z-index:1;background-color:#0F0; cursor:nw-resize; z-index:1;}

.hidden{width:400px; height:400px; background-color:#030; z-index:1;}

.container {overflow:hidden; text-align:left;}

.viewarea{width:100%;height:100%; text-align:left; margin:0 auto;cursor: move;}

.buttonStyle{cursor:pointer;margin-top:5px; margin-left:5px;}
.nodeStyle{cursor:pointer;width:30px;height:30px;}

.modeRight{position:absolute; width:150px;visibility: hidden;background-color:#edf4fe;border:1px solid #b7c8f6;}
.modeRightCut{height:30px; line-height:30px;text-align:left; border-bottom:1px dotted #cccccc;background:url(../images/modeRightDel.gif) left no-repeat;}
.modeRightCopy{height:30px;line-height:30px; text-align:left; border-bottom:1px dotted #cccccc; background:url(../images/copy.png) 3px no-repeat;}
.modeRightDel{height:30px; line-height:30px;text-align:left;background:url(../images/delete.png) 3px no-repeat;}
.modeRightPro{height:30px; line-height:30px;text-align:left;background:url(../images/prop.png) 3px no-repeat;}

.modeRightTop{height:6px; font-size:0px;}
.modeRightButtom{height:6px; font-size:0px;}

.modeRightPixel{height:24px;line-height:24px; text-align:left; border-bottom:1px dotted #cccccc; background:url(../images/modeRightCopy.gif) 3px no-repeat;}
.modeRightLeft{height:24px;line-height:24px; text-align:left; border-bottom:1px dotted #cccccc; background:url(../images/toLeft.png) 3px no-repeat;}
.modeRightCenter{height:24px;line-height:24px; text-align:left; border-bottom:1px dotted #cccccc; background:url(../images/toMiddleWidth.png) 3px no-repeat;}
.modeRightRight{height:24px;line-height:24px; text-align:left; border-bottom:1px dotted #cccccc; background:url(../images/toRight.png) 3px no-repeat;}
.modeRightHead{height:24px;line-height:24px; text-align:left; border-bottom:1px dotted #cccccc; background:url(../images/toTop.png) 3px no-repeat;}
.modeRightMiddle{height:24px;line-height:24px; text-align:left; border-bottom:1px dotted #cccccc; background:url(../images/toMiddleHeight.png) 3px no-repeat;}
.modeRightFoot{height:24px;line-height:24px; text-align:left; background:url(../images/toBottom.png) 3px no-repeat;}

.auxiliaryArea{width:100%;position:relative;}
#smallMap{width:180px;height:80px;overflow:auto;border:1px #99bbe8 solid; background-color:#ffffff;}
#mainControl{windth:80%;height:100px;position:absolute;left:190px;top:10px;font-size:12px;min-width:800px;overflow-x:auto;}
.risk_button li{float:left;margin:5px;list-style: none; }
.risk_table{font-size:11px;margin:0 20px;}
.risk_table td{border-bottom:1px dashed #999;height:20px;line-height:20px;}
#topCross {visibility: hidden;width:100%; height:1px; font-size:0px; border-top:1px dashed #ff0000;position:absolute;}
#leftCross {visibility: hidden;width:1px; height:100%; font-size:0px; border-left:1px dashed #ff0000; position:absolute; left:100px;}


.titleTool {height:125px;background-color:#e4e8eb;position:relative;overflow:hidden;}
.bodySelectNone {-moz-user-select:none;}
.leftContent {width:150px;position:relative;background-color:#d8e4fe;overflow:hidden;}
.overflowHidden {overflow:hidden;}
.flowImag {overflow:hidden;background-color:#c7dbfc;}
.mapContext {overflow:auto;position:relative;background:#fff url(../images/backimg.png);}
.history {width:120px;position:relative;}
.historyMessage {position:absolute; top:0px; left:0px;}
#smallMap {overflow:hidden;}
.menuSpan {margin-left:28px;}
.moveBaseMode {position:absolute;visibility:hidden;filter:alpha(opacity=30);opacity:0.3;}