.addition {
    margin-left: 15px;
}
.radio_input {
    vertical-align:middle;
}
.label_for_radio {
    margin-left: 5px;
    margin-right: 15px;
}
.disabled {
    color: #AAAAAA;
}
.popup-mesg-box {
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
    background-color: inherit;
    display: none;
    border: none;
    position: fixed;
    left: 45%;
    top: 45%;
    text-align: center;
    border-radius: 10px;
    z-index: 6;
}
.popup-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #171717;
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    z-index: 5;
    display: none;
}
.odd {
    line-height: 25px;
}