@charset "utf-8";
/* CSS Document */

.export-all-link {
    display: none;
}
#popup-strategy {
    width: 70%;
    left: 15%;
    /*border: solid 1px #AAA;*/
    display: none;
}
.popup-strategy-head {
    width: 100%;
    height: 22px;
    margin: 0px;
    /*border-bottom: solid 1px #AAA;*/
    background-color: #D4E1F2;
}
#hide_strategy_list {
    float: right;
    width: 21px;
    height: 15px;
    margin: 2px;
}
.strategy-list {
    width: 100%;
}
.strategy-list .odd td {
    border-bottom: solid 1px #AAA;
    border-left: solid 1px #AAA;
    border-right: none;
}
.strategy-list .odd td:first-child {
    border-left: none;
}
.table-header {
    background-image: none;
    background-color: #D4E1F2;
}
.table-footer {
    text-align: center;
    background-image: none;
    background-color: #D4E1F2;
}
.table-footer td {
    border-bottom: none;
}
label {
    font-weight: normal;
    margin-left: 5px;
    margin-right: 10px;
}
td#system_strategy_set_hook, td#custom_strategy_set_hook {
    text-align: left;
    text-indent: 5px;

}
.strategy_item {
    float: left;
    line-height: 25px;
    margin: 5px 0px;
    width: 33%;
}