@charset "utf-8";
/* CSS Document */
.agreement_button {
	height: 20px;
	width:20px;
}
/*.agreement_textarea {
	height: 120px;
	width: 202px;
	
}*/

.add-panel-prefix-tip{
	width: 200px;
    display: inline-block;
}