tr.title td { font-weight: bold; letter-spacing: 2px; text-transform: uppercase; font-size: 10px; }
tr.uplink-item td { font-weight: normal; }
tr td .link-type { padding: 2px;  
                      min-width: 30px;
                      white-space: nowrap;
                      color: #ffffff;
                      /*font-weight: bold;*/
                      letter-spacing: 2px;
                      text-align: center; }
td.uplink-color div { padding: 2px; min-width: 135px; } 
.uplink-status-text { color: #ffffff; font-weight: italic; }
table.list tr.backup-link td { padding: 2px; }
#failure, #stopped, #NA, #dead, #onhold { display: none; }