.popup-waiting-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #171717;
    opacity: 0.3;
    z-index: 5;
}
.popup-waiting-mesg-box {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    padding: 0px;
    background-color: inherit;
    border: none;
    border-radius: 100px;
    z-index: 6;
}
.popup-waiting-mesg-box img {
    position: absolute;
    width: 100px;
    height: 100px;
}
.popup-waiting-mesg-text {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-family: "微软雅黑" Serif;
}