@charset "utf-8";

@import "compass/typography";
@import "compass/css3";
@import "compass/layout";
@import "variables","mixin","icons";

// top.cgi样式

.header {
	@include set_size(100%,70px);
	@include set_color($top-font-color,$top-bg-color);
	min-width:950px;
	a.logo{
		@include float(left);
	}
	div.header-right{
		@include float(right);
		@include set_size(51%);
		min-width:600px;
		@media(max-width:768px){
	        display: none;
	    }
	}
}

a.logo{
	@include inline-block();
	@include other-sprite("logo");
	@include unstyled-link();
	@include hover();
	height:36px;
	padding:{
		top:10px;
		left:52px;
	}
	margin:{
		left:12px;
		top:7px;
	}
	#CH_logo_title{
		font:{
			size:$top-logo-font-size;
			family: $font-hwkt;
		}
	}
}

#alarm_controller{
	@include float(left);
	span{
		@include set_size(50px,60px);
		@include inline-block();
		@include other-sprite("warnning_lamp");
		margin-top:8px;
	}
	img{
		@include hover();
	}
}

.help-div{
	@include float(right);
	// @include set_size(80%);
	line-height:58px;
	margin-right:17px;
	.kwicks{
		@include horizontal-list(10px);
		li{
			form{
				@include hover();
				span{
					span{
						font-size:$top-fn-font-size;
						vertical-align: middle;
					}
					i{
						@include inline-block();
						@include set_size(30px,30px);
					}
				}
			}
		}
	}
}

.font-awesome-circle{
	font-size:15px!important;
	.font-awesome-inner{
		color:$top-bg-color;
		font-size:18px!important;
	}
}